<% layout("layouts/boilerplate.ejs") %>

<body>
    <style>
        #filters {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
        }

        .filter-icons {
            display: flex;
            flex-wrap: nowrap;
            gap: 1rem;
        
        }

        .filter {
            margin-top: 1rem;
            opacity: 0.7;
            text-align: center;
            min-width: 60px; 
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .filter p {
            font-size: 0.8rem;
        }

        /* Tax toggle */
        .tax-toggle {
            display: flex;
            padding: 0.5rem 1rem;
            margin-left: 1rem;
            border-radius: 1rem;
            border: 1px solid black;
            height: 2.5rem;
            align-items: center;
            white-space: nowrap;
            margin-bottom: 0.5rem;
            font-size: 0.8rem;

        }

        /* Tax info hidden by default */
        .tax-info {
            display: none;
            font-size: 0.85rem;
            color: gray;
        }
    </style>

    <!-- Filters -->
    <div id="filters">
        <!-- Icons -->
        <div class="filter-icons">
            <div class="filter">
                <i class="fa-solid fa-fire"></i>
                <p>Trending</p>
            </div>
            <div class="filter">
                <i class="fa-solid fa-bed"></i>
                <p>Rooms</p>
            </div>
            <div class="filter">
                <i class="fa-solid fa-mountain"></i>
                <p>Mountains</p>
            </div>
            <div class="filter">
                <i class="fa-brands fa-fort-awesome"></i>
                <p>Castles</p>
            </div>
            <div class="filter">
                <i class="fa-solid fa-mountain-city"></i>
                <p>Iconic Cities</p>
            </div>
            <div class="filter">
                <i class="fa-solid fa-person-swimming"></i>
                <p>Swimming</p>
            </div>
            <div class="filter">
                <i class="fa-solid fa-campground"></i>
                <p>Camping</p>
            </div>
            <div class="filter">
                <i class="fa-solid fa-cow"></i>
                <p>Farms</p>
            </div>
            <div class="filter">
                <i class="fa-solid fa-snowflake"></i>
                <p>Arctic</p>
            </div>
            <div class="filter">
                <i class="fa-solid fa-igloo"></i>
                <p>Domes</p>
            </div>
            <div class="filter">
                <i class="fa-solid fa-ship"></i>
                <p>Boats</p>
            </div>
        </div>

        <!-- Toggle switch -->
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault"><b>Display total after Taxes</b></label>
            </div>
        </div>
    </div>

    <!-- Listings -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card listing-card" style="width:20rem;">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.image.filename %>"
                        style="height: 20rem;">
                    <div class="card-body">
                        <b>
                            <p class="card-text">
                                <%= listing.title %> <br />
                            </p>
                        </b>
                        <% if (listing.price != null) { %>
                            <span class="price">₹<%= listing.price.toLocaleString("en-IN") %>/night</span>
                            <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
                        <% } %>
                    </div>
                </div>
            </a>
        <% } %>
    </div>

    <!-- Script for toggle -->
    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("change", () => {
            let taxInfo = document.getElementsByClassName("tax-info");
            for (let info of taxInfo) {
                if (taxSwitch.checked) {
                    info.style.display = "inline"; // show tax info
                } else {
                    info.style.display = "none"; // hide tax info
                }
            }
        });
    </script>
</body>
