<% layout("layouts/boilerplate.ejs") %>
<body>
    <h3>All listings..</h3>
    <!-- <form method="GET" action="/listings/new">
        <button>create new listing</button>
    </form> -->
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
    <%for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card" style="width:20 rem;">
 <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.image.filename %>" style="height: 20rem;">
  <div class="card-img-overlay">
  </div>
 <div class="card-body">
    <b><p class="card-text"><%= listing.title %> <br/></b>
     &#8377;<%= listing.price.toLocaleString("en-IN") %>/night</p>
</div>
 
</div>
</a>
 <%  }%>

 </div>

    
</body>
